include LICENSE
include README.md
include SECURITY.md
include *.py
include pyproject.toml
recursive-include django_twined *.py
recursive-include django_twined *.html
recursive-include django_twined *.svg
