

# TEST APP REQUIREMENTS
# ------------------------------------------------------------------------------

# These are requirements for developing and running the test app locally as a server, not for the actual library
#  (you need to specify those in setup.py, they get resolved by the main application which in this case is the
#  tests app)


# TESTING
# ------------------------------------------------------------------------------

# Tox allows us to create a matrix of tests
tox>=3,<=4
coverage>=5.2.1

# pytest is recommended by django channels for async testing
# see https://channels.readthedocs.io/en/latest/topics/testing.html
pytest==5.4.3  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.4  # https://pivotfinland.com/pytest-sugar/
pytest-django==3.9.0  # https://github.com/pytest-dev/pytest-django
pytest-asyncio==0.14.0  # https://github.com/pytest-dev/pytest-asyncio


# CODE QUALITY
# ------------------------------------------------------------------------------

pre-commit>=2,<=3  # https://github.com/pre-commit/pre-commit


# Building documentation
# ------------------------------------------------------------------------------
-r docs/requirements.txt
